.checkout-page{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:#050816;

overflow:hidden;

}

.checkout-card{

width:420px;

padding:40px;

border-radius:25px;

background:rgba(255,255,255,.08);

backdrop-filter:blur(20px);

text-align:center;

box-shadow:0 0 40px rgba(0,255,255,.25);

animation:float 3s infinite ease-in-out;

}

.checkout-logo{

width:120px;

height:120px;

object-fit:contain;

margin-bottom:20px;

}

.buy-button{

margin-top:20px;

padding:15px;

width:100%;

border:none;

border-radius:12px;

font-size:18px;

cursor:pointer;

background:linear-gradient(90deg,#00f5ff,#0066ff);

color:white;

transition:.3s;

}

.buy-button:hover{

transform:scale(1.05);

box-shadow:0 0 30px cyan;

}

@keyframes float{

0%{transform:translateY(0px);}

50%{transform:translateY(-12px);}

100%{transform:translateY(0px);}

}