.live-purchase{
    position:fixed;
    bottom:18px;
    left:18px;

    display:flex;
    align-items:center;
    gap:10px;

    background:rgba(15,15,15,.95);
    border:1px solid rgba(255,255,255,.08);
    border-radius:14px;

    padding:10px 14px;

    min-width:220px;
    max-width:260px;

    color:#fff;

    backdrop-filter:blur(12px);
    box-shadow:0 8px 20px rgba(0,0,0,.35);

    z-index:9999;

    animation:slideIn .5s ease;
}

.live-dot{
    width:10px;
    height:10px;
    border-radius:50%;
    background:#22c55e;
    box-shadow:0 0 8px #22c55e;
    flex-shrink:0;
}

.live-purchase small{
    display:block;
    color:#22c55e;
    font-size:10px;
    font-weight:700;
    margin-bottom:2px;
}

.live-purchase h4{
    margin:0;
    font-size:13px;
    font-weight:600;
}

.live-purchase p{
    margin-top:2px;
    color:#cfcfcf;
    font-size:11px;
}

@keyframes slideIn{

from{
transform:translateX(-120%);
opacity:0;
}

to{
transform:translateX(0);
opacity:1;
}

}

@media(max-width:768px){

.live-purchase{
    left:10px;
    bottom:10px;

    min-width:190px;
    max-width:220px;

    padding:8px 12px;
    gap:8px;
}

.live-dot{
    width:8px;
    height:8px;
}

.live-purchase small{
    font-size:9px;
}

.live-purchase h4{
    font-size:12px;
}

.live-purchase p{
    font-size:10px;
}

}